<div class="card" style="width: 18rem;">
    {{#each posts}}
    <a href="/dashboard/edit/{{id}}">
        <div class="card-body">
            <h5 class="card-title">{{title}}</h5>
            <h6 class="card-subtitle mb-2 text-muted">{{format_date createdAt}}</h6>
            <p class="card-text">{{posts.body}}</p>
            {{/each}}
        </div>
</div>