<div>
    <div>
        <h2>Edit</h2>
    </div>
    <form id="editPost">
        <input type="hidden" name="post-id" value="{{post.id}}"/>

        <label for="postTitle">Title</label>
        <input type="text" name="postTitle" value="{{post.title}}" />

        <label for="postBody">Body</label>
        <textarea name="postBody">{{post.body}}</textarea>

        <button class="editBtn" type="submit">Update</button>

        <button id="deleteBtn" type="button">Delete</button>
    </form>

</div>

<script src="/js/edit.js"></script>