<div>
    <div>
        <h2>Edit</h2>
    </div>
    <form id="newPost">
        <label for="postTitle">Title</label>
        <input type="text" name="postTitle"/>

        <label for="postBody">Body</label>
        <textarea name="postBody"></textarea>

        <button class="newPostBtn" type="submit">Post</button>
    </form>

</div>

<script src="/js/newPost.js"></script>